@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');


*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}
a:hover{
    color:#f8002f;
}
a.btn:hover{
    color: black;
}
section{
    padding:100px;
}
.banner{
    position : relative;
    min-height: 100vh;
    
    background-color: black;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;

}
.banner h2{
    font-size: 3em;
    color: #fff;
    font-weight: 500;
    line-height: 1.5em;

}
.banner h2 span
{
    font-size: 1.5em;
    font-weight: 700;

}
.banner h3{
    font-size: 1.5em;
    color: #fff;
    font-weight: 500;

}
.banner img{
    border-radius: 50%;
    width: 50%;
    margin:0;
    padding:0;
    min-width: 500px;
}

.btn{
    position: relative;
    background-color: #f8002f;
    display: inline-block;
    color:#fff;
    margin-top: 20px;
    padding: 10px 30px;
    font-size: 18px;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 2px;
    font-weight: 500;
}

header{
    position: fixed;
    top: 0;
    left:0;
    width: 100%;
    padding: 40px 100px;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.5s;
}

header.sticky{
    background-color: #fff;
    padding: 20px 100px;
    box-shadow: 0 5px 20px rgba(0,0,0,0.1);
}
header .logo{
    color: #fff;
    font-size: 24px;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 700;
    letter-spacing: 2px;
}

header.sticky .logo{
    color:black;
}

header ul{
    position: relative;
    display: flex;

}

header ul li{
    position: relative;
    list-style: none;
}

header ul li a {
    position: relative;
    display:inline-block;
    margin: 0 15px;
    color:#fff;
    text-decoration: none;
    

}

header.sticky ul li a{
    color:black;
}

.heading {
    width: 100%;
    text-align: center;
    margin-bottom: 30px;
    color: #111;
}
.heading.white{
    color:#fff;
}
.heading h2{
    font-weight: 600;
    font-size: 30px;
}
.content{
    align-items: center;
}

.services{
    background: #111;
}

.services .content{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    flex-direction: row;
}
.services .content .servicesBx{
    
    padding: 40px 20px;
    background: #222;
    color: #fff;
    height: 350px;
    width: 300px;
    max-width: 400px;
    margin:20px;
    transition: 0.5s;
    text-align: center;
    display: flex;
    justify-content:  space-around;
    align-items: center;
    flex-direction: column;

}    

.services .content .servicesBx:hover{
 background: #f8002f;
}


.services .content .servicesBx img{
   max-width: 80px;
   filter: invert(1);
}



.services .content .servicesBx h2{
    max-width: 80px;
    filter: invert(1);
}

.services .content .servicesBx h2{
    font-size: 20px;
    font-weight: 600px;
}

.work{
    background: #525252;
    text-align: center;
    min-height: 400px;
    
}

.work .content{

    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;

}
.work .content .workBx{
    max-width: 500px;
    padding: 20px;
    min-width: 100px;

}

.work .content .workBx img{
    max-width: 100%;
    transition: 0.5s;

}

.work .content .workBx img:hover{
    max-width: 100%;
    border:#f8002f 1px solid;
    margin-top: -5%;

}



.about{
    border: black 1px solid;
    text-align: center;

}
.about .social-links{
    margin: 10px;
}
.fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
}
.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
    background: #3B5998;
    color: white;
}
.fa-instagram {
    background: #3B5998;
    color: white;
}
.fa-youtube {
    background: #bb0d00;
    color: white;
}
.fa-linkedin {
    background: #047bb5;
    color: white;
}


.fa-github {
    background: #262626;
    color: white;
}

#about{
    padding:10px;

}





@media (max-width: 991px)
{
    header, header.sticky{
        padding: 20px 50px;
    }
    .menu{
        position: fixed;
        top:80px;
        left:-100%;
        display: block;
        padding: 100px 50px;
        text-align: center;
        width: 100%;
        height: 100vh;
        background-color: #fff;
        transition: 0.5s;
        z-index: 999;
        border-top: 1px solid rgba(0,0,0,0.2);
    }
    .menu.active{
        left: 0%
    }
    header ul li a{
        color: #111; 

    }
    .toggle{
        width: 40px;
        height: 40px;
        background: url(../static/navbar/menu.png);
        background-repeat: no-repeat;
        background-size: 30px;
        cursor: pointer;

    }
    .toggle.active{
        width: 40px;
        height: 40px;
        background: url(../static/navbar/close.png);
        background-repeat: no-repeat;
        background-size: 25px;
        cursor: pointer;
    }
    header.sticky .toggle{
        filter: invert(1);

    }
    
    .btn{
        margin-top: 10px;
        padding: 10px 20px;
        font-size: 16px;

    }
    .heading h2{
        font-weight: 600;
        font-size: 24px;
    }
    header ul li a{
        font-size: 40px;
        padding: 20px;
    }
    .workBx img{
        min-width: 350px;
    }
    .servicesBx{
        min-width: 350px;
    }

}

@media (max-width: 500px){
    .banner img{
        min-width: 300px;
    }
    .banner h2{
        font-size: 2em;
       
    } 
    .banner h3{
        font-size: 1.5em;
    }
    .workBx img{
        width: auto;
    }
    .servicesBx{
        width: auto;
    }
    .work{
        padding: 10px;
    }
}