<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <title>Portfolio</title>
</head>
<body>
    <header>
        <a href="#" class='logo'>My Portfolio</a>
        <div class='toggle' onclick="toggleMenu()">           
        </div>
        <ul class='menu'>
            <li><a href="#" onclick="toggleMenu()">Home</a></li>
            <li><a href="#skills" onclick="toggleMenu()">Skills</a></li>
            <li><a href="#achieve" onclick="toggleMenu()">Achievements</a></li>
            <li><a href="#work" onclick="toggleMenu()">Work</a></li>
            <li><a href="../static/resume.pdf" onclick="toggleMenu()">Resume</a></li>
            <li><a href="#about" onclick="toggleMenu()">About</a></li>
            
        </ul>
    </header>
    
        <section class='banner'>
        <div id="particles-js"></div>
        </div>

        <img src='../static/pic.JPG' alt=''>
        <div class='textBx'>
            <h2>Hey, I'm <br><span>Divyasheel</span></h2>
            <h3>This is my Portfolio</h3>
            <a href="#about" class='btn'>About Me</a>

        </div>
    </section>
    
    

    <section class='services' id="skills">
        <div class='heading white'>
            <h1>My Skills</h1>
        </div>
        
        <div class='content'>
            <div class='servicesBx'>
                <img src="../static/backend.png">
                <h3>
                    Back-end Development
                </h3>
                <ul>
                    <li>Django</li>
                    <li>Flask</li>
                    <li>PHP</li>
                </ul>
            </div>
            <div class='servicesBx'>
                <img src="../static/shield.png">
                <h3>
                    Infosec
                </h3>
                <ul>
                    <li>Radare2</li>
                    <li>Ghidra</li>
                    <li>Metasploit</li>
                    <li>gdb</li>
                </ul>
            </div>
            <div class='servicesBx'>
                <img src="../static/frontend.png">
                <h3>
                    Languages
                </h3>
                <ul>
                    <li>C (gtk,Cmake)</li>
                    <li>C++ (stl,OOP)</li>
                    <li>Python(Pandas,Numpy,Scipy)</li>
                    <li>SQL(MySql)</li>
                    <li>NoSQL(MongoDB,Firestore)</li>
                    
                </ul>
            </div>
            
            <div class='servicesBx'>
                <img src="../static/photoshop.png">
                <h3>
                    Editing
                </h3>
                <ul>
                    <li>AfterEffects</li>
                    <li>Premiere Pro</li>
                    <li>Photoshop</li>
                    
                </ul>
            </div>
        </div>
    </section>
    
    <section class='achieve' id='achieve'>
        <div class='heading white'>
            <h1>
                Achievements
            </h1>
        </div>

        <div class='content'>
            <div class='servicesBx'>
                <img src="../static/silver.png">
                <h3>
                    SILVER 
                </h3>
                <ul>
                    <li>INTER-IIT TECHNICAL 2020 (security hackathon)</li>
                    
                </ul>
            </div>
            <div class='servicesBx'>
                <img src="../static/gold.png">
                <h3>
                    FIRST 
                </h3>
                <ul>
                    <li>HACK 30 hackathon IIT Mandi 2021</li>
                    
                </ul>
            </div>
            <div class='servicesBx'>
                <img src="../static/silver.png">
                <h3>
                    SILVER 
                </h3>
                <ul>
                    <li>INTER-IIT CULTURAL 2019 ( movie making )</li>
                </ul>
            </div>
            
        </div>
       
       
    </section>
    


    <section class='work' id='work'>
        <div class='heading white'>
            <h1>
                My Work
            </h1>
        </div>
       
        <div class="content">
            
            <a href="http://saic.iitmandi.co.in">
                
                <div class="workBx">
                    <img src="../static/work/saic.png" alt="">
                </div>
            </a>

            <a href="http://music.divyasheel.com">
                
                <div class="workBx">
                    <img src="../static/work/beatit.png" alt="">
                </div>
            </a>

            <a href="http://covidtool.herokuapp.com">
                
                <div class="workBx">
                    <img src="../static/work/cofinder.png" alt="">
                </div>
            </a>
            

            <a href="http://wecoder.ml">
                
                <div class="workBx">
                    <img src="../static/work/wecoder.png" alt="">
                </div>
            </a>

            <a href="http://quiz.iitmandi.co.in">
                
                <div class="workBx">
                    <img src="../static/work/quiz.png" alt="">
                </div>
            </a>

            <a href="http://dblog.divyasheel.com/">     
               
                <div class="workBx">
                    <img src="../static/work/django.png" alt="">
                </div>
            </a>
            <a href="http://todophp.divyasheel.com">
                
                <div class="workBx">
                    <img src="../static/work/phptodo.png" alt="">
                </div>
            </a>
            
            <a href="http://flaskblog.divyasheel.com">
                
                <div class="workBx">
                    <img src="../static/work/flask.png" alt="">
                </div>
            </a>

        </div>
    </section>

   

    <section class='about' id='about'>
        <div class='heading'>
            <h2>About Me</h2>
            <p>
                I am a Btech-CSE undergrad at IIT Mandi.
            </p>
            <div class='social-links'>
                <a href="https://github.com/divyashk" class="fa fa-github"></a>
                <a href="https://www.linkedin.com/in/divyasheel-kumar18/" class="fa fa-linkedin"></a>
                <a href="https://www.youtube.com/channel/UC91Xe1r_V25MJ_76SM_wS1g/featured?view_as=subscriber" class="fa fa-youtube"></a>
                <a href="https://www.facebook.com/divyasheel.kumar" class="fa fa-facebook"></a>
                <a href="https://www.instagram.com/divyasheel18/" class="fa fa-instagram"></a>
                
            </div>
       </div>
    </section>
    <script src="https://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script> <!-- stats.js lib --> <script src="http://threejs.org/examples/js/libs/stats.min.js"></script>

    <script src="../static/js/particles.js"></script>
    <script type='text/javascript'>
        window.addEventListener('scroll',function(){
            var header = document.querySelector('header');
            header.classList.toggle('sticky', window.scrollY > 0);
        });

        function toggleMenu(){
            var menuToggle = document.querySelector('.toggle');
            var menu = document.querySelector('.menu');

            menuToggle.classList.toggle('active');
            menu.classList.toggle('active');
        }
    </script>
</body>
</html>