<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <title>Portfolio</title>
</head>
<body>
    <header>
        <a href="#" class='logo'>My Portfolio</a>
        <div class='toggle' onclick="toggleMenu()">           
        </div>
        <ul class='menu'>
            <li><a href="#" onclick="toggleMenu()">Home</a></li>
            <li><a href="#skills" onclick="toggleMenu()">Skills</a></li>
            <li><a href="#work" onclick="toggleMenu()">Work</a></li>
            
            <li><a href="#about" onclick="toggleMenu()">About</a></li>
        </ul>
    </header>
    <section class='banner'>
        <img src='static/pic.jpg' alt=''>
        <div class='textBx'>
            <h2>Hey, I'm <br><span>Divyasheel</span></h2>
            <h3>This is my Portfolio</h3>
            <a href="#about" class='btn'>About Me</a>

        </div>
    </section>

    <section class='services' id="skills">
        <div class='heading white'>
            <h1>My Skills</h1>
        </div>
        
        <div class='content'>
            <div class='servicesBx'>
                <img src="../static/backend.png">
                <h3>
                    Back-end Development
                </h3>
                <ul>
                    <li>Django</li>
                    <li>Flask</li>
                    <li>PHP</li>
                </ul>
            </div>
            <div class='servicesBx'>
                <img src="../static/frontend.png">
                <h3>
                    Front-end Development
                </h3>
                <ul>
                    <li>HTML - CSS</li>
                    <li>Vanilla JS</li>
                    <li>Bootstrap</li>
                </ul>
            </div>
            <div class='servicesBx'>
                <img src="../static/video-editing.png">
                <h3>
                    Video Editing
                </h3>
                <ul>
                    <li>AfterEffects</li>
                    <li>Premiere Pro</li>
                </ul>
            </div>
            <div class='servicesBx'>
                <img src="../static/photoshop.png">
                <h3>
                    Photo Editing
                </h3>
                <ul>
                    <li>GIMP</li>
                    <li>Photoshop</li>
                </ul>
            </div>
        </div>
    </section>
    
    <section class='work' id='work'>
        <div class='heading white'>
            <h2>
                My Projects
            </h2>
        </div>
        <div class="content">
            <a href="https://blogin-now.herokuapp.com/">
                <div class="workBx">
                    <img src="../static/work/django.png" alt="">
                </div>
            </a>
            <a href="http://beatit-app.herokuapp.com/">
                <div class="workBx">
                    <img src="../static/work/beatit.png" alt="">
                </div>
            </a>
            <a href="http://flaskblog.divyasheel.com/">
                <div class="workBx">
                    <img src="../static/work/flask.png" alt="">
                </div>
            </a>

        </div>
    </section>

    <!-- <section class='contact' id='contact'>
        <div class='heading white'>
            <h2>Contact me</h2>
        </div>
        <div class='content'>
            <div class='filler'>
                <h1>
                    Leave your message
                </h1>
            </div>
            <form class='form-contact'>
                <input type="text" id='name' placeholder="Your name">
                <input type="email" id='email' placeholder="Your email">
                <input type="text" id='message' placeholder='Your message'>
                <button type='submit' class='btn'>Send</button>
            </form>
        </div>
    </section> -->


    <section class='about' id='about'>
        <div class='heading'>
            <h2>About Me</h2>
            <p>
                I am a Btech-CSE undergrad at IIT Mandi.
            </p>
            <div class='social-links'>
                <a href="https://github.com/divyashk" class="fa fa-github"></a>
                <a href="https://www.linkedin.com/in/divyasheel-kumar18/" class="fa fa-linkedin"></a>
                <a href="https://www.youtube.com/channel/UC91Xe1r_V25MJ_76SM_wS1g/featured?view_as=subscriber" class="fa fa-youtube"></a>
                <a href="https://www.facebook.com/divyasheel.kumar" class="fa fa-facebook"></a>
                <a href="https://www.instagram.com/divyasheel18/" class="fa fa-instagram"></a>
                
            </div>
       </div>
    </section>
    

    <script type='text/javascript'>
        window.addEventListener('scroll',function(){
            var header = document.querySelector('header');
            header.classList.toggle('sticky', window.scrollY > 0);
        });

        function toggleMenu(){
            var menuToggle = document.querySelector('.toggle');
            var menu = document.querySelector('.menu');

            menuToggle.classList.toggle('active');
            menu.classList.toggle('active');
        }
    </script>
</body>
</html>